.companies {
  padding: 15px 0;
  background: #ececec;

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    margin: 0 15px;
  }

  &__image {
    display: block;
  }
}